<html>
<head>
       <title>Packet Analyzer</title>
</head>
<body>
    <h1>{{ .Title }}</h1>
    <div class="message" style="border:1px solid black; min-height:30px; padding: 5px;">
        <span>{{ .Message }}</span></br>
    </div>
    <form enctype="multipart/form-data" method="post">
        <div>
            <div>
                <h2>Upload File</h2>
                <input type="file" name="file" />
            </div>
        </div>
        <br />
        <div>
            <input type="hidden" name="token" value="{{.Token}}" />
            <input type="submit" value="import" />
        </div>
    </form>
</body>
</html>
